<app-home *ngIf="viewing == 'home'"></app-home>
<app-equipos  *ngIf="viewing == 'equipos'" (changeTeam)="getChangeTeam($event)" (createGroup)="getCreateGroup($event)" ></app-equipos>
<app-tareas  *ngIf="viewing == 'tareas'"></app-tareas>
<app-int-equipo  *ngIf="viewing == 'infoEquipo'"></app-int-equipo>
<app-creargrupo  *ngIf="viewing == 'crearGrupo'"></app-creargrupo>