#contenedorEquipo{
    display: flex;
    padding: 0 5%;
}
.seccionEquipo{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}
.equipo{
    display: flex;
    margin: 3%;
}
.fotoEquipo{ margin-right: 3%; }

.infoEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombreEquipo{ margin: 5% 0; }

.crearGrupo{ margin-left: 20%; }


.encabezado{ background: gray; }

.integrantes{    
    margin: 5px 0;
    background: gray;
}

