<div id="contenedorEquipo">

  <div class="seccionEquipo">

    <div class="equipo" (click)="loadTeam('infoEquipo')">
      <div class="fotoEquipo"><img src="assets/avatars/cooper.jpg" style="border-radius:100%;" width="100px;" /></div>
      <div class="infoEquipo">
        <div class="nombreEquipo">nombreEquipo</div>
        <div class="dueñoEquipo">dueñoEquipo</div>
      </div>
    </div>

    <div class="equipo" (click)="loadTeam('infoEquipo')">
      <div class="fotoEquipo"><img src="assets/avatars/cooper.jpg" style="border-radius:100%;" width="100px;" /></div>
      <div class="infoEquipo">
        <div class="nombreEquipo">nombreEquipo</div>
        <div class="dueñoEquipo">dueñoEquipo</div>
      </div>
    </div>

  </div>

  <div class="crearGrupo" (click)="crearGrupo('crearGrupo')">
    <h1>Crear grupo</h1>
  </div>

</div>