<div id="contenedor">
  <h1>Crear grupo</h1>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Imagen</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" name="archivo" size="20">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Color</label>
      <div class="col-sm-10">
        <input type="color" name="color" value="#ffffff" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Crear</button>
      </div>
    </div>

  </form>
</div>