#contenedor{
    width: 80%; min-height: 200px;
    padding: 2% 5%; margin: 0 10%;
    background: gray;
}
input{
    width: 100%;
    margin: 1% 0;
}

input[name="create"]{
    width: 48%;
    margin: 10% 0 0 0;
}