<div id="contenedorEscritorio">
  <div id="menu">
    <app-aside [selected]="viewing" (changeContent)="getChange($event)"></app-aside>
  </div>
  <div id="contenido">
    <app-header></app-header>
    <app-content [viewing]="viewing" (changeContent)="getChange($event)" (createGrupo)="getChange($event)"></app-content>
  </div>
<div>