<div id="contenedorLogin">

  <form class="form-horizontal">

    <div class="input-group">      
      <input type="text" name="name" class="form-control" placeholder="Nombre">
      <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
    </div>

    <div class="input-group">      
      <input type="password" name="password" class="form-control" placeholder="Contraseña">
      <span class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></span>
    </div>

    <div class="input-group">
        <button type="submit" class="btn btn-default">Entrar</button>
    </div>

  </form>

</div>