<div id="contenedorEquipo">

  <div class="encabezado">
    <div class="equipo">
      <div class="fotoEquipo">
        <img src="assets/avatars/cooper.jpg" style="border-radius:100%;" width="100px;" />
      </div>
      <div class="infoEquipo">
        <div class="nombreEquipo">nombreEquipo</div>
        <div class="dueñoEquipo">dueñoEquipo</div>
      </div>
    </div>
  </div>

  <div class="integrantes">
    <ul>
      <li>integrantes</li>
      <li>integrantes</li>
      <li>integrantes</li>
      <li>integrantes</li>
    </ul>
  </div>

  <div class="agregar">
    <input type="text" name="member" class="form-control" placeholder="Nombre">
    <button type="submit" class="btn btn-default">Agregar</button>
  </div>

</div>