#contenedorEquipo{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}
.equipo{
    display: flex;
    background: gray;
}
.fotoEquipo{
    margin-right: 3%;
}
.infoEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nombreEquipo{
    margin: 5% 0;
}


.integrantes, .agregar{    
    margin: 5px 0;
    background: gray;
}
.agregar{
    display: flex;
}
input[name="member"]{
    width: 20%; margin-right: 2%;
}