<div id="contenedorLogin">
  <form class="form-horizontal">

    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Usuario">
      <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
    </div>

    <div class="input-group">
      <input type="text" name="name" class="form-control" placeholder="Nombre">
      <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
    </div>

    <div class="input-group">
      <input type="text" name="lastname" class="form-control" placeholder="Apellido">
      <span class="input-group-addon"><div class="glyphicon glyphicon-user"></div></span>
    </div>

    <div class="input-group">
      <input type="text" name="email" class="form-control" placeholder="Email">
      <span class="input-group-addon"><div class="glyphicon glyphicon-envelope"></div></span>
    </div>

    <div class="input-group">
      <input type="password" name="password" class="form-control" placeholder="Contraseña">
      <span class="input-group-addon"><div class="glyphicon glyphicon-lock"></div></span>
    </div>

    <div class="input-group">
      <input type="file" class="form-control" name="archivo" size="20">
      <span class="input-group-addon"><div class="glyphicon glyphicon-picture"></div></span>
    </div>

    <div class="input-group">
      <button type="submit" class="btn btn-default">Entrar</button>
    </div>

  </form>
</div>